.example-spacer {
    flex: 0.25 0.25 auto;
  }

.edit-note-container{
  width: 1000px;
}

.edit-note-element{
  padding-right: 20pt;
  width: 10vw;
}

.edit-note-element-group{
  padding-right: 10pt;
  width: 10vw;
}

.edit-note-element-fav{
  padding-right: 5pt;
  width: 5vw;
  height:5vh;
}

.keep-c-done-wrapper{
  padding-top: 2vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.edit-note-button{
  align-self:center;
  align-content: center;
  padding-left: 15pt;
  padding-right: 15pt;
  margin-left: 10pt;
  margin-right: 10pt;
}

.edit-note-button-update{
  align-self:center;
  align-content: center;
  padding-left: 15pt;
  padding-right: 15pt;
  margin-left: 275pt;
  margin-right: 10pt;
}