.example-spacer {
    flex: 0.25 0.25 auto;
}

.edit-note-container{
  width: 1000px;
}

.edit-note-element{
  padding-right: 25pt;
  width: 10vw;
}

.edit-note-element-group{
  padding-right: 8pt;
  width: 10vw;
}

.edit-note-element-fav{
  padding-left: 5pt;
  padding-right: 5pt;
  width: 5vw;
  height:5vh;
}

.keep-c-done-wrapper{
  padding-top: 2vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.edit-note-button{  
  margin-left: 10pt;
  margin-right: 10pt;
}

.edit-note-button-update{
  margin-left: 240pt;
  margin-right: 10pt;
}

.error-message {
  color: red;
  padding: 1em 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}