<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>
<div>
  <mat-form-field> 
    <input [(ngModel)]="note.title" name="editTitle" matInput placeholder="Title" type="text">
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <textarea [(ngModel)]="note.text" name="editText" matInput placeholder="Text"></textarea>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select name="editStatus" placeholder="Select state" [(ngModel)]="note.state">
      <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
    </mat-select>
    </mat-form-field>    
</div>
<div>
  <mat-form-field> 
    <input [(ngModel)]="note.isFavourite" name="isFavourite" matInput placeholder="Favourite" 
    readonly=true>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput class='group' name='group' [(ngModel)]="note.group">               
  </mat-form-field>
  <button mat-stroked-button (click)="addToGroup()">Add to Group</button>
</div>
<app-note-share [note]='note'></app-note-share>
<!-- add reminder component -->
<div class="keep-c-done-wrapper">
  <button mat-stroked-button (click)="onSave()">Update Note</button>
  <button mat-stroked-button (click)="onDelete()">Delete Note</button>
  <button mat-stroked-button *ngIf="note.isFavourite" (click)="removeFromFavourite()" >Remove from Favourite</button>
  <button mat-stroked-button *ngIf="!note.isFavourite" (click)="addToFavourite()" >Add to Favourite</button>
</div>
