<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>
<div class='edit-note-container'>
  <mat-form-field class='edit-note-element'> 
    <input [(ngModel)]="note.title" name="editTitle" matInput placeholder="Title" type="text">
  </mat-form-field>
  <mat-form-field class='edit-note-element'>
    <textarea [(ngModel)]="note.text" name="editText" matInput placeholder="Text"></textarea>
  </mat-form-field>
  <mat-form-field class='edit-note-element'>
    <mat-select name="editStatus" placeholder="Select state" [(ngModel)]="note.state">
      <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
    </mat-select>
  </mat-form-field>  
  
  
  <mat-form-field class='edit-note-element-group'>
    <input matInput class='group' name='group' [(ngModel)]="note.group">               
  </mat-form-field>
  <button mat-icon-button class='edit-note-element-group-button'  matTooltip="Add to Group" (click)="addToGroup()">
      <mat-icon color="primary" aria-label="Add to Group">group_add</mat-icon>
  </button>
  

  <!-- Share note-->
  <app-note-share [note]='note'></app-note-share>

  <mat-icon class='edit-note-element-fav' *ngIf="note.isFavourite" matTooltip="Remove from Favourite" color="warn" aria-label="Favourite" 
  aria-hidden="false" (click)="removeFromFavourite()">favorite</mat-icon>
  <mat-icon class='edit-note-element-fav' *ngIf="!note.isFavourite" matTooltip="Add to Favourite"  color="blank" aria-label="Favourite" 
  aria-hidden="false" (click)="addToFavourite()" >favorite</mat-icon>
  
</div>

<!-- add reminder component -->
<app-reminder-view [note]='note'></app-reminder-view>
<div class="keep-c-done-wrapper">
  <button mat-flat-button color='primary' class='edit-note-button-update' (click)="onSave()">Update Note</button>
  <button mat-flat-button color='primary' class='edit-note-button' (click)="onDelete()">Delete Note</button>
  <button mat-flat-button color='warn' class='edit-note-button' (click)="cancel()">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
</div>
